/*
 Theme Name:   Ensaf Child  
 Theme URI:    https://wordpress.themeholy.com/ensaf/
 Description:  This is a child theme for ensaf - WordPress Theme
 Author:       Themeholy
 Author URI:   https://themeforest.net/user/themeholy
 Template:     ensaf
 Version:      1.0
 Tags:         two-columns, three-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, theme-options, editor-style, featured-images, microformats, post-formats,  sticky-post, threaded-comments, translation-ready
 Text Domain:  ensaf-child
*/

/*  [ Add your custom css below ] 
- - - - - - - - - - - - - - - - - - - - */   